<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0E2231">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header>
      <div id="canvas"></div>
      <section class="page-header">
        <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="https://www.instagram.com/Motus_Art/" target="_blank" class="btn">Instagram</a>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" target="_blank" class="btn">View on GitHub</a>
        {% endif %}
        <a href='&#109;a&#105;lt&#111;&#58;mot&#37;75%7&#51;%40%6Fwe%6E%6&#68;c&#97;%74eer&#46;%&#54;&#51;om' class="btn">Email Me</a>
        <a href="https://www.redbubble.com/people/motusart/explore?asc=u" target="_blank" class="btn">Buy Prints</a>
      </section>
    </header>
    <section class="main-content">
      {{ content }}
    </section>

    <hr />

    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{clear:left;width:100%;}
    </style>
    <div id="mc_embed_signup">
    <form action="https://github.us17.list-manage.com/subscribe/post?u=c52203446e94cb797253d941c&amp;id=6b37dd911e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Subscribe to the mailing list</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c52203446e94cb797253d941c_6b37dd911e" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
    <!--End mc_embed_signup-->

    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KP80PZ1VRB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-KP80PZ1VRB');
    </script>
    {% endif %}
    <script src="{{ '/assets/js/p5.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/homepage.js' | relative_url }}"></script>
    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"c52203446e94cb797253d941c","lid":"6b37dd911e"}) })</script>
  </body>
</html>
